<div class="container mt-5">
  <h2>Stripe Checkout</h2>

  <section id="wrap">

    <div id="section1">
      <main>
        <p>Rider Payment Portal</p>
        <form action="#" method="GET">
          <p style="font-size: large;">
            Test Card no. <b>4242 4242 4242 4242</b>, a random three-digit CVC number, any
            expiration date in the future, and a random five-digit U.S. ZIP code.
          </p><br><br>
          <input type="submit" value="Pay Amount" class="checkRides" (click)="pay(50)">
        </form>
      </main>

    </div>
  </section>
</div>
